In [43]:
# import packages                                                           
import numpy as np                                                                    
import pandas as pd
import networkx as nx

In [44]:
# import original datesets
df_patent = pd.read_table('cit-Patents.txt', names=['from', 'to'])
df_patent = df_patent.drop_duplicates(['from', 'to']) # drop duplicated data

In [45]:
df_patent

             from       to
0         3858241   956203
1         3858241  1324234
2         3858241  3398406
3         3858241  3557384
4         3858241  3634889
...           ...      ...
16518943  6009554  4617662
16518944  6009554  4740972
16518945  6009554  4831521
16518946  6009554  5048064
16518947  6009554  5364047

[16518948 rows x 2 columns]

In [46]:
df_patent = df_patent.sort_values(['to'])
df_patent

             from       to
4489388   4647229        1
505789    3964859        1
1283023   4119158       13
5818097   4833984       13
1338623   4130067       24
...           ...      ...
14997437  5866999  5982528
16290063  5988532  5982902
15203880  5886398  5984327
16369487  5996057  5990821
15556774  5920081  5991572

[16518948 rows x 2 columns]

In [47]:
df_patentDAG = df_patent[df_patent['from'] > df_patent['to']] # drop disordered data
df_patentDAG

             from       to
4489388   4647229        1
505789    3964859        1
1283023   4119158       13
5818097   4833984       13
1338623   4130067       24
...           ...      ...
16234835  5983643  5957571
16391057  5997893  5957908
16174350  5978159  5970321
16290063  5988532  5982902
16369487  5996057  5990821

[16518209 rows x 2 columns]

In [48]:
D_DAG = nx.from_pandas_edgelist(df_patentDAG, source='from', target='to', edge_attr=None, create_using=nx.DiGraph)
D_id_DAG = nx.convert_node_labels_to_integers(D_DAG, first_label=0, ordering='sorted',label_attribute=None) # must keep!

In [49]:
nx.number_of_nodes(D_id_DAG)

3774753

In [50]:
nx.number_of_edges(D_id_DAG)

16518209

In [51]:
from networkx.algorithms.traversal.depth_first_search import dfs_tree

In [52]:
subtreeDAG = dfs_tree(D_id_DAG.reverse(), 3) #node3 is the sink of the component with 2,427 nodes.

In [53]:
nx.number_of_nodes(subtreeDAG)

2427

In [54]:
nx.number_of_edges(subtreeDAG)

2426

In [55]:
corenodesDAG = list(subtreeDAG.nodes)
D_patent_DAG = nx.convert_node_labels_to_integers(D_id_DAG.subgraph(corenodesDAG), first_label=0, ordering='sorted',label_attribute=None)

In [56]:
nx.number_of_edges(D_patent_DAG)

3765

In [57]:
df_patent_extracted_DAG = nx.to_pandas_edgelist(D_patent_DAG)
df_patent_extracted_DAG

      source  target
0       1156     126
1       1156     225
2       1081     550
3       1523     598
4        435       4
...      ...     ...
3760     540     314
3761     104       6
3762     104      40
3763     105      52
3764     106       6

[3765 rows x 2 columns]

In [58]:
df_patent_extracted_DAG = df_patent_extracted_DAG.sort_values(['source'])
df_patent_extracted_DAG

      source  target
3109       1       0
3745       2       1
3505       3       1
2679       4       2
2945       5       1
...      ...     ...
2782    2423     441
2783    2423    1005
2788    2424     869
2789    2425    1293
2790    2426     729

[3765 rows x 2 columns]

In [59]:
df_patent_extracted_DAG.to_csv("df_patent_extracted_DAG.csv")