In [1]:
# import packages                                                           
import numpy as np                                                                    
import pandas as pd
import networkx as nx

In [2]:
# import original datesets
df_web = pd.read_table('web-Google.txt', names=['from', 'to'])
df_web = df_web.drop_duplicates(['from', 'to']) # drop duplicated data

In [3]:
df_web

           from      to
0             0   11342
1             0  824020
2             0  867923
3             0  891835
4         11342       0
...         ...     ...
5105034  916425  547323
5105035  916425  604833
5105036  916425  632916
5105037  916425  637936
5105038  916425  837379

[5105039 rows x 2 columns]

In [4]:
df_web = df_web.sort_values(['to'])
df_web

           from      to
1387563  795148       0
251669   635343       0
1384568  553829       0
549653    38716       0
720632   857934       0
...         ...     ...
2268747  673045  916426
758987   772225  916426
3479277  557889  916426
1140436  843844  916427
4310864  417497  916427

[5105039 rows x 2 columns]

In [5]:
df_webDAG = df_web[df_web['from'] > df_web['to']] # drop disordered data
df_webDAG

           from      to
1387563  795148       0
251669   635343       0
1384568  553829       0
549653    38716       0
720632   857934       0
...         ...     ...
2244438  916407  915008
4092404  915715  915239
4989847  915853  915269
54650    915634  915273
2236342  916097  915857

[2420548 rows x 2 columns]

In [6]:
#D = nx.from_pandas_edgelist(df_web, source='from', target='to', edge_attr=None, create_using=nx.DiGraph)
#D_id = nx.convert_node_labels_to_integers(D, first_label=0, ordering='sorted',label_attribute=None) # must keep!

In [7]:
#nx.number_of_nodes(D_id)

In [8]:
#nx.number_of_edges(D_id)

In [9]:
D_DAG = nx.from_pandas_edgelist(df_webDAG, source='from', target='to', edge_attr=None, create_using=nx.DiGraph)
D_id_DAG = nx.convert_node_labels_to_integers(D_DAG, first_label=0, ordering='sorted',label_attribute=None) # must keep!

In [10]:
nx.number_of_nodes(D_id_DAG)

733197

In [11]:
nx.number_of_edges(D_id_DAG)

2420548

In [12]:
from networkx.algorithms.traversal.depth_first_search import dfs_tree

In [13]:
#subtree = dfs_tree(D_id.reverse(), 0)

In [14]:
#nx.number_of_nodes(subtree)

In [15]:
#nx.number_of_edges(subtree)

In [16]:
subtreeDAG = dfs_tree(D_id_DAG.reverse(), 0)

In [17]:
nx.number_of_nodes(subtreeDAG)

1439

In [18]:
nx.number_of_edges(subtreeDAG)

1438

In [19]:
#corenodes = list(subtree.nodes)
#D_web = nx.convert_node_labels_to_integers(D.subgraph(corenodes), first_label=0, ordering='sorted',label_attribute=None)

In [20]:
#nx.number_of_edges(D_web)

In [35]:
corenodesDAG = list(subtreeDAG.nodes)
D_web_DAG = nx.convert_node_labels_to_integers(D_id_DAG.subgraph(corenodesDAG), first_label=0, ordering='sorted',label_attribute=None)

In [36]:
nx.number_of_edges(D_web_DAG)

3862

In [23]:
#df_web_extracted = nx.to_pandas_edgelist(D_web)
#df_web_extracted

In [24]:
#df_web_extracted = df_web_extracted.sort_values(['source'])
#df_web_extracted

In [39]:
df_web_extracted_DAG = nx.to_pandas_edgelist(D_web_DAG)
df_web_extracted_DAG

      source  target
0        240      86
1        240     181
2        200      19
3        200      29
4        200      55
...      ...     ...
3857    1048     877
3858      39      19
3859      39      29
3860     189      77
3861     926     690

[3862 rows x 2 columns]

In [41]:
df_web_extracted_DAG = df_web_extracted_DAG.sort_values(['source'])
df_web_extracted_DAG

      source  target
147        1       0
368        2       0
369        2       1
1811       3       0
1812       3       1
...      ...     ...
1921    1436    1114
1922    1436    1415
1931    1437    1366
1930    1437    1093
1951    1438     466

[3862 rows x 2 columns]

In [42]:
df_web_extracted_DAG.to_csv("df_web_extracted_DAG.csv")